/* Buraya base classlar yazilir */

.section {
    padding: 3rem 0;
}

.container {
    width: 80%;
    max-width: 1600px;
    margin-inline: auto;
}

.main {
    padding: 7rem 0;
}

.app{
    display: flex;
    position: relative;
}